<%= form_for @article do |f| %>
    <style>


      .table_col {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        width: 40%;
        background: white;
        text-align: center;
        border-collapse: separate;
        color: #3E4347;
      }

      .table_col th:first-child, .table_col td:first-child {
        width: 50px;
        color: #8b8e91;
        border-left: none;
        background: aqua;
      }

      .table_col th {
        font-weight: normal;
        border-bottom: 2px solid #F5E1A6;
        border-right: 10px solid white;
        border-left: 10px solid white;
        padding: 8px 10px;
      }

      .table_col td {
        border-right: 10px solid white;
        border-left: 10px solid white;
        padding: 12px 10px;
        color: #8b8e91;
      }

      .table_col tr {
        border-color: #2E2F30;
      }

    </style>

    <table align="left" class="table_col" border="1">
      <tr>
        <td>Номер заказа</td>
        <td> <%= f.text_field :number %></td>
      </tr>
      <tr>
        <td>ФИО</td>
        <td> <%= f.text_field :title %></td>
      </tr>
      <tr>
        <td>Адрес</td>
        <td>    <%= f.text_field :text %></td>
      </tr>
      <tr>
        <td>Дата установки</td>
        <td>    <%= f.date_select :date, :order => [:day, :month, :year] %></td>
      </tr>
      <tr>
        <td>Стоимость</td>
        <td><%= f.text_field :summa %>
          <%= f.select(:oplata, [['НЕ оплачено'], ['Оплачено']]) %>
          <%= f.select(:polSUM, [['...'], ['Денис'], ['Оля'], ['Андрей']]) %>
        </td>
      </tr>
      <tr>
        <td>Предоплата</td>
        <td> <%= f.text_field :predoplata %>
          <%= f.select(:oplataPR, [['НЕ оплачено'], ['Оплачено']]) %>
          <%= f.select(:polPR, [['...'], ['Денис'], ['Оля'], ['Андрей']]) %></td>
      </tr>
      <tr>
        <td>Остаток</td>
        <td><%= f.text_field :ostatok %>
          <%= f.select(:oplataOST, [['НЕ оплачено'], ['Оплачено']]) %>
          <%= f.select(:polOST, [['...'], ['Денис'], ['Оля'], ['Андрей']]) %></td>
      </tr>
      <tr>
        <td>Стоимость установки</td>
        <td> <%= f.text_field :cena_yst %></td>
      </tr>
    </table>
    <table align="right" class="table_col" border="1">
      <tr>
        <td>Замер</td>
        <td><%= f.select(:zamer, [[''], ['Да'], ['Нет']]) %></td>
      </tr>
      <tr>
        <td>Поставщик</td>
        <td> <%= f.select(:postavshik, [[''], ['Гудвин'], ['Очаг']]) %></td>
      </tr>
      <tr>
        <td>Цена поставщика</td>
        <td> <%= f.text_field :cena_postavhika %></td>
      </tr>
      <tr>
        <td>Профиль</td>

        <td><%= f.select(:profile, [[''], ['Veka Softline Premium'], ['Veka Softline '],
                                    ['Veka Euroline'], ['Veka Euroline Plus'],
                                    ['Aluplast 2000 полноценная'], ['Aluplast 2000 облегченная'],
                                    ['Aluplast 4000'], ['WHS'],
                                    ['Veka Softline 82'], ['Salamander 2d'],
                                    ['Salamander Strimline'], ['Wintech 4'], ['Wintech 5'],
                                    ['Veka Proline']])


        %></td>
      </tr>
      <tr>
        <td>Площадь конструкций</td>
        <td><%= f.text_field :m2 %></td>
      </tr>
      <tr>
        <td>Стоимость конструкций</td>
        <td><%= f.text_field :cena_konstrukciu %></td>
      </tr>
      <tr>
        <td>Коментарии</td>
        <td><%= f.text_field :comments %></td>
      </tr>


      <tr>
        <td>Допы</td>
        <td align="left">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вид &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;размер
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            цвет&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;кол</p>

          <div>
            <% Integer s = 5 %>
            <%= f.select(:dop0, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                 ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                 ['Козырек']]) %>
            <%= f.text_field :razm0, :size => s %>
            <%= f.text_field :color, :size => s %>
            <%= f.select :kol0, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop1, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm1, :size => s %>
            <%= f.text_field :color1, :size => s %>
            <%= f.select :kol1, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop2, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm2, :size => s %>
            <%= f.text_field :color2, :size => s %>
            <%= f.select :kol2, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop3, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm3, :size => s %>
            <%= f.text_field :color3, :size => s %>
            <%= f.select :kol3, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop4, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm4, :size => s %>
            <%= f.text_field :color4, :size => s %>
            <%= f.select :kol4, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop5, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm5, :size => s %>
            <%= f.text_field :color5, :size => s %>
            <%= f.select :kol5, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop6, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm6, :size => s %>
            <%= f.text_field :color6, :size => s %>
            <%= f.select :kol6, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop7, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm7, :size => s %>
            <%= f.text_field :color7, :size => s %>
            <%= f.select :kol7, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop8, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm8, :size => s %>
            <%= f.text_field :color8, :size => s %>
            <%= f.select :kol8, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop9, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                     ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                     ['Козырек']]) %>
            <%= f.text_field :razm9, :size => s %>
            <%= f.text_field :color9, :size => s %>
            <%= f.select :kol9, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop10, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm10, :size => s %>
            <%= f.text_field :color10, :size => s %>
            <%= f.select :kol10, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop11, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm11, :size => s %>
            <%= f.text_field :color11, :size => s %>
            <%= f.select :kol11, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop12, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm12, :size => s %>
            <%= f.text_field :color12, :size => s %>
            <%= f.select :kol12, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop13, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm13, :size => s %>
            <%= f.text_field :color13, :size => s %>
            <%= f.select :kol13, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop14, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm14, :size => s %>
            <%= f.text_field :color14, :size => s %>
            <%= f.select :kol14, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop15, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm15, :size => s %>
            <%= f.text_field :color15, :size => s %>
            <%= f.select :kol15, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop16, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm16, :size => s %>
            <%= f.text_field :color16, :size => s %>
            <%= f.select :kol16, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop17, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm17, :size => s %>
            <%= f.text_field :color17, :size => s %>
            <%= f.select :kol17, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop18, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm18, :size => s %>
            <%= f.text_field :color18, :size => s %>
            <%= f.select :kol18, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop19, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm19, :size => s %>
            <%= f.text_field :color19, :size => s %>
            <%= f.select :kol19, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
          </div>
          <div> <%= f.select(:dop20, [[''], ['Подоконник ДАНКЕ'], ['Подоконник СТАНДАРТ '],
                                      ['Подоконник УКР. '], ['Москитка'], ['Отлив'],
                                      ['Козырек']]) %>
            <%= f.text_field :razm20, :size => s %>
            <%= f.text_field :color20, :size => s %>
            <%= f.select :kol20, [[], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15]] %>
            <%= f.select(:dopu, [['НЕ заказаны'], ['Заказаны']]) %>
          </div>
        </td>
      </tr>

    </table>


    <p>
      <%= f.submit value="Сохранить" %>
    <p></p>
    <p></p>
    <%= link_to 'На главную', articles_path %>
    </p>
<% end %>
