<html>
<head>

</head>
<style>

  .table_col {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 1400px;
    background: white;
    text-align: center;
    border-collapse: collapse;
    color: #3E4347;
  }

  .table_col th:first-child, .table_col td:first-child {
    color: #8b8e91;
    border-left: none;
    background: aqua;
  }

  .table_col th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 10px solid white;
    border-left: 10px solid white;
    padding: 8px 10px;
  }

  .table_col td {
    border-right: 10px solid white;
    border-left: 10px solid white;
    padding: 12px 10px;
    color: #8b8e91;
  }

</style>
<body>

<center>


  <h1>База клиентов</h1>

  <%= link_to 'Новый клиент', new_article_path %>
  <table class="table_col">

    <tr>
      <th>№ заказа</th>
      <th>ФИО</th>
      <th>Адрес</th>
      <th>Дата установки</th>

    </tr>

    <%  @articles.each do |article| %>
        <tr>

          <td><%= article.number %></td>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= article.date %></td>

          <td> <%= link_to 'Просмотр', article_path(article) %>
            <%= link_to 'Изменить', edit_article_path(article) %>
            <%= link_to 'Удалить', article_path(article),
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %></td>


        </tr>


    <% end %>


  </table>
</center>
</body>
</html>
