<style>


  .table_col {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 40%;
    background: white;
    text-align: center;
    border-collapse: separate;
    color: #3E4347;
  }

  .table_col th:first-child, .table_col td:first-child {
    width: 50px;
    color: #8b8e91;
    border-left: none;
    background: aqua;
  }

  .table_col th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 10px solid white;
    border-left: 10px solid white;
    padding: 8px 10px;
  }

  .table_col td {
    border-right: 10px solid white;
    border-left: 10px solid white;
    padding: 12px 10px;
    color: #8b8e91;
  }

  .table_col tr {
    border-color: #2E2F30;
  }

</style>

<table align="left" class="table_col" border="1">
  <tr>
    <td>Номер заказа</td>
    <td> <%= @article.number %></td>
  </tr>
  <tr>
    <td>ФИО</td>
    <td> <%= @article.title %></td>
  </tr>
  <tr>
    <td>Адресс</td>
    <td>    <%= @article.text %></td>
  </tr>
  <tr>
    <td>Дата установки</td>
    <td>    <%= @article.date %></td>
  </tr>
  <tr>
    <td>Стоимость</td>
    <td><%= @article.summa %> [<%= @article.oplata %>] закрыл(a) заказ <%= @article.polSUM %> </td>
  </tr>
  <tr>
    <td>Предоплата</td>
    <td> <%= @article.predoplata %>   [<%= @article.oplataPR %>] принял(a) <%= @article.polPR %></td>
  </tr>
  <tr>
    <td>Остаток</td>
    <td><%= @article.ostatok %> [<%= @article.oplataOST %>] принял(a) <%= @article.polOST %></td>
  </tr>
  <tr>
    <td>Стоимость установки</td>
    <td> <%= @article.cena_yst %></td>
  </tr>
</table>
<table align="right" class="table_col" border="1">
  <tr>
    <td>Замер</td>
    <td><%= @article.zamer %></td>
  </tr>
  <tr>
    <td>Диллер</td>
    <td> <%= @article.postavshik %></td>
  </tr>
  <tr>
    <td>Цена поставщика</td>
    <td> <%= @article.cena_postavhika %></td>
  </tr>
  <tr>
    <td>Профиль</td>
    <td><%= @article.profile %></td>
  </tr>
  <tr>
    <td>Площадь конструкций</td>
    <td><%= @article.m2 %></td>
  </tr>
  <tr>
    <td>Стоимость конструкций</td>
    <td><%= @article.cena_konstrukciu %></td>
  </tr>
  <tr>
    <td>Коментарии</td>
    <td><%= @article.comments %></td>

  </tr>
  <tr>
    <td>Допы</td>
    <td align="left">


      <p></p><%= @article.dop0 %> <%= @article.razm0 %> <%= @article.color %>  <%= @article.kol0 %>
      <p></p> <%= @article.dop1 %> <%= @article.razm1 %> <%= @article.color1 %>  <%= @article.kol1 %>
      <p></p><%= @article.dop2 %> <%= @article.razm2 %> <%= @article.color2 %>  <%= @article.kol2 %>
      <p></p><%= @article.dop3 %> <%= @article.razm3 %> <%= @article.color3 %>  <%= @article.kol3 %>
      <p></p><%= @article.dop4 %> <%= @article.razm4 %> <%= @article.color4 %>  <%= @article.kol4 %>
      <p></p><%= @article.dop5 %> <%= @article.razm5 %> <%= @article.color5 %>  <%= @article.kol5 %>
      <p></p><%= @article.dop6 %> <%= @article.razm6 %> <%= @article.color6 %>  <%= @article.kol6 %>
      <p></p><%= @article.dop7 %> <%= @article.razm7 %> <%= @article.color7 %>  <%= @article.kol7 %>
      <p></p><%= @article.dop8 %> <%= @article.razm8 %> <%= @article.color8 %>  <%= @article.kol8 %>
      <p></p><%= @article.dop9 %> <%= @article.razm9 %> <%= @article.color9 %>  <%= @article.kol9 %>
      <p></p><%= @article.dop10 %> <%= @article.razm10 %> <%= @article.color10 %>  <%= @article.kol10 %>
      <p></p><%= @article.dop11 %> <%= @article.razm11 %> <%= @article.color11 %>  <%= @article.kol11 %>
      <p></p><%= @article.dop12 %> <%= @article.razm12 %> <%= @article.color12 %>  <%= @article.kol12 %>
      <p></p><%= @article.dop13 %> <%= @article.razm13 %> <%= @article.color13 %>  <%= @article.kol13 %>
      <p></p><%= @article.dop14 %> <%= @article.razm14 %> <%= @article.color14 %>  <%= @article.kol14 %>
      <p></p><%= @article.dop15 %> <%= @article.razm15 %> <%= @article.color15 %>  <%= @article.kol15 %>
      <p></p><%= @article.dop16 %> <%= @article.razm16 %> <%= @article.color16 %>  <%= @article.kol16 %>
      <p></p><%= @article.dop17 %> <%= @article.razm17 %> <%= @article.color17 %>  <%= @article.kol17 %>
      <p></p><%= @article.dop18 %> <%= @article.razm18 %> <%= @article.color18 %>  <%= @article.kol18 %>
      <p></p><%= @article.dop19 %> <%= @article.razm19 %> <%= @article.color19 %>  <%= @article.kol19 %>
      <p></p><%= @article.dop20 %> <%= @article.razm20 %> <%= @article.color20 %>  <%= @article.kol20 %>


    </td>
  </tr>

</table>
<div align="center">
  <p><%= link_to 'На главную', articles_path %></p>
  <p></p>
  <%= link_to 'Изменить', edit_article_path %></div>



